
body {

    font-family: Arial, Helvetica, sans-serif;
}

header h1{
    font-size: 80px;
    color: rgb(206, 129, 129);
    position: relative;
    display: inline-block;
    margin-left: 40px;
}

header h1:before {

    content:"";
    background: rgb(216, 210, 213);
    height: 25px;
    display: inline-block;
    position: absolute;
    top: 60px;
    left: 30px;
    right: -10px;
    bottom: 8px;
    z-index: -1;

}

.upload {

    border: solid 1px rgba(206, 129, 129, 0.9);
    border-radius: 5px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    grid-template-rows: 0.5fr 2fr 0.5fr; 
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;

}


.upload h2 {

    color: rgba(206, 129, 129, 0.9);
    font-weight: lighter;
    margin-left: 40px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.eingabefelder {
    background-color: springgreen;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: center;
}

.windows {
    background-color: rgba(206, 129, 129, 0.9);
    color: rgb(255, 255, 255);

}

.upload input[type=text] {
    width: 400px;
    /* max-width: 400px; */
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: rgba(206, 129, 129, 0.8) solid 1px;

}
.upload input[type=button], .upload button {
    background: rgba(206, 129, 129, 0.3);
    border: solid 1px rgba(206, 129, 129, 0.8);
    width: 400px;
    /* max-width: 400px; */
    height: 30px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.upload input[type=file], #file{
    background: rgba(206, 129, 129, 0.9);
    /* width: auto; */
    width: 400px;
    height: 30px;
    border-radius: 5px;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.containerImages {
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: Arial, Helvetica, sans-serif;
}


.boxImages {

    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    background: rgba(206, 129, 129, 0.9);
    width: 250px;
    height: 250px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.boxImages:hover {

    transform: scale(1.03);
    transition: 0.2s all;
}

.boxImages:hover .title{

    font-weight: bold;
    transform: scale(1.03);
    transition: 0.2s all;
    opacity: 1;
}

.boxImages:hover .username{

    transform: scale(1.03);
    transition: 0.2s all;
    opacity: 1;
}


.boxImages img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    position: relative;
}

.boxImages .title {
    font-size: xx-small;
    color: rgb(255, 255, 255);
    position: absolute;
    align-self: flex-start;
    margin-left: 5px;
    margin-top: 5px;
    opacity: 0;
}

.boxImages .username {
    font-size: xx-small;
    color: rgb(255, 255, 255);
    position: absolute;
    align-self: flex-start;
    margin-left: 5px;
    margin-top: 20px;
    opacity: 0;
}

.overlay {

    background: rgba(230, 230, 230, 0.9);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 70%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

}

.overlay img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
}



.overlay h1 h2 p {

    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 5;

}

.overlay .close {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: rgb(255, 255, 255);
    border: 1px rgb(255, 255, 255) solid;
    border-radius: 2px;
    cursor: pointer; 
    
}

.overlay .comments {

}

.overlay .comment {
    
}

.overlay .comment-formular {
    
}
